﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Requested URL</td>
            <td>Relative Path</td>
            <td>Full Path</td>
            <td>HTTP Request Type</td>
        </tr>
        <tr>
            <td>@Request.Url</td>
            <td>@Request.FilePath</td>
            <td>@Request.MapPath(Request.FilePath)</td>
            <td>@Request.RequestType</td>
        </tr>
    </table>
    <a href="~/TestBase.cshtml">BACK TO TEST SELECTION</a>
</body>
</html>