﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Test Base</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{var greeting = "Hello World!";}
    <h1>@greeting</h1>
    <p>This is the testing area for Razor Syntax. Please select one of the links below to try some of it out!</p>
    <a href="~/tests/AddNumbers.cshtml">Add Two Numbers!</a><br />
    <a href="~/tests/PathInfo.cshtml">See Path Information!</a><br />
    <a href="~/tests/ErrorChecking.cshtml">Try Error Handling!</a><br />
    <a href="~/Default.cshtml">BACK TO HOME PAGE</a>
</body>
</html>